*{
    box-sizing: border-box;
}

div{
    background-color: #ccc;
    width: 120px;
    height: 120px;
    margin: 5px;
    padding: 40px 10px;
    box-sizing: border-box;
    border: 1px solid violet;
    display: inline-block;
}

.translated{
    transform: translate(50px,30px);
    background-color: teal;
    border:3px solid rgba(81, 245, 89, 0.959);
}